<mat-card *ngIf="blog?.title" class="example-card" [ngStyle]="{'border':( blog.upvote < blog.downvote ) ? '4px solid red' : '4px solid green'}">
    <mat-card-header>
        <mat-card-title>Title: {{blog.title}}</mat-card-title>
        <mat-card-subtitle>Author: {{blog.author}}</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
        <p>
            Content: <br>
            {{blog.content }}
        </p>
        <p>
            Upvote: + {{blog.upvote}}
        </p>
        <p>
            Downvote: - {{blog.downvote}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="upvote(blog)">Upvote</button>
        <button mat-raised-button color="warn" (click)="downvote(blog)">Downvote</button>
    </mat-card-actions>
</mat-card>

